

.capitalize {
  text-transform: capitalize;
}
.lib-contactform{
  font-size: 0.79rem;
  font-weight: 600;
}
.size-input {
  height: 2.3rem;
  border-radius: 4px;
  font-size: 0.9rem;
}
.text-med {
  font-size: 0.95rem;
}
.serciveshov{
  color: #677788;
}
.dropservice:hover{
  background-color: #377dff;
  color: #fff;
}